.image-mask {
    mask-image: url(~/assets/images/svg/image-mask.svg);
    mask-repeat: no-repeat;
    mask-position: bottom;
    mask-size: cover;
    overflow: hidden;

    img {
        width: 100%;
        object-fit: cover;
    }

    &__mirrored {
        mask-image: url(~/assets/images/svg/image-mask-mirrored.svg);
    }

    &__large-image {
        mask-image: url(~/assets/images/svg/image-mask-large-image.svg);
    }
}