@import "../abstracts.scss";

.footer {
    position: relative;
    isolation: isolate;

    &__contact-employee {
        position: relative;
        z-index: -1;

        + .footer__contact-details > .jagged-shape {
            position: absolute;
            bottom: 100%;
            left: 0;
        }
    }

    &__contact-details {
        position: relative;

        .inner {
            background-color: var(--color-background);
        }

        &__title {
            @include font-size-clamp(2.5rem, 5vw, 3.5rem);
            line-height: 0.9;
        }
    }
}

.jagged-shape {
    transform: rotate(180deg) scaleX(-1) translateY(-1px);
}
